@model IEnumerable<Tarazou4.Entities.Question>



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />



    <div class="form-control"
         dir="rtl">
        <form method="post">
            <div class="form-group">
                <label>عنوان</label>
                <input name="Title" id="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>توضیحات</label>
                <input name="Description" id="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div  class="form-group">
                <label>گروه سوالات</label>
                <select name="QuestionCategoryId" id="QuestionCategoryId" class="form-control">
                    @foreach (var item in (List<Tarazou4.Entities.QuestionCategory>)@ViewData["heading"])
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>




            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-default" />
            </div>
        </form>
    </div>


