<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label  class="control-label"> Title</label>
                    <input  class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input class="form-control" />
                  
                </div>
                <div class="form-group">
                    <label class="control-label"> select please</label>
                    <select  class="form-control" asp-items="ViewBag.QuestionCategoryId"></select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>



    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
@RenderSection("Scripts", required: false)

</html>
